* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica, Arial, sans-serif;
}

#screen {
  height: 700px;
  width: 100%;
}

#product-path {
  width: 96%;
  margin: auto;
  padding: 5px;
}

#product-path > p {
  font-size: 13px;
}

#body {
  width: 96%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  /* border: 1px solid black; */
}

#body > #left {
  height: 50%;
  width: 57%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#body > #left > div {
  height: 490px;
  width: 360px;
  overflow: hidden;
  margin: 8px 2px;
}

#body > #left > div > img {
  height: 100%;
  width: 100%;
  transition: 0.5s ease;
}

#body > #left > div > img:hover {
  transform: scale(1.05);
  cursor: pointer;
}

#body > #right {
  width: 40%;
  /* border: 1px solid black; */
}

#right > #div-one {
  border-bottom: 1px solid #cfcfcf;
  padding-bottom: 14px;
}

#right > #div-one > p {
  font-size: 18px;
  color: #a2a2a2;
  font-weight: 500;
}

#right > #div-one > #rating-button {
  width: 160px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #eaeaec;
  border-radius: 3px;
  margin-top: 10px;
}

#right > #div-one > #rating-button:hover {
  border: 1px solid black;
  cursor: pointer;
}

#right > #div-one > #rating-button > h4 {
  border-right: 2px solid #eaeaec;
  padding-right: 8px;
}

#right > #div-two {
  border-bottom: 1px solid #cfcfcf;
  padding-bottom: 25px;
}
#right > #div-two > #price {
  padding-top: 5px;
}

#right > #div-two > #price > #main-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  /* border: 1px solid black; */
}

#right > #div-two > #price > #size {
  margin-top: 20px;
  width: 45%;
  display: flex;
  justify-content: space-between;
  /* border: 1px solid rgb(0, 0, 0); */
}

#right > #div-two > #price > #size > h5 {
  color: #ff3e6c;
  padding-top: 2px;
}

#right > #div-two > #price > #size-chart {
  width: 62%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

#right > #div-two > #price > #size-chart > div {
  height: 55px;
  width: 55px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(134, 134, 134);
}

#right > #div-two > #price > #size-chart > div:hover {
  border: 1px solid #ff3e6c;
  cursor: pointer;
}

#right > #div-two > #add-to-cart {
  width: 86%;
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
  /* border: 1px solid black; */
}

#right > #div-two > #add-to-cart > button:nth-child(1) {
  height: 55px;
  width: 252px;
  border: none;
  background: none;
  background-color: #ff3e6c;
  color: white;
  border-radius: 5px;
}

#right > #div-two > #add-to-cart > button:nth-child(1):hover {
  background-color: #ff5179;
  cursor: pointer;
}

#right > #div-two > #add-to-cart > button:nth-child(2) {
  height: 55px;
  width: 175px;
  border: none;
  background: none;
  border-radius: 5px;
  border: 1px solid rgb(175, 175, 175);
}

#right > #div-two > #add-to-cart > button:nth-child(2):hover {
  cursor: pointer;
  border: 1px solid black;
}

#right > #div-three {
  height: 250px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 25px;
}

#right > #div-three > #delivery {
  width: 35%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid black; */
}

#right > #div-three > #pincode > #pincode-input {
  height: 45px;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 5px;
  border: 1px solid rgb(168, 168, 168);
}

#right > #div-three > #pincode > #pincode-input > input {
  height: 100%;
  width: 65%;
  border: none;
  outline: none;
}

#right > #div-three > #pincode > #pincode-input > input::placeholder {
  font-size: 15px;
}

#right > #div-three > #delivery-policy {
  padding-top: 10px;
  font-size: 15px;
  color: rgb(36, 36, 36);
}

#right > #div-three > #delivery-policy > p {
  padding: 5px 0;
}

#right > #div-four {
  margin-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid rgb(185, 185, 185);
}

#right > #div-four > h4 {
  margin: 10px 0 2px 0;
}

#right > #div-four > #best-price {
  height: 150px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

#right > #div-four > #best-price > ul {
  list-style-position: inside;
}

#right > #div-four > #best-price > ul > li {
  padding: 4px 0px 4px 0px;
  color: rgb(89, 89, 89);
}

#right > #div-four > #cred {
  height: 100px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

#right > #div-four > #cred > ul {
  list-style-position: inside;
  color: rgb(89, 89, 89);
}

#right > #div-four > #emi {
  height: 100px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

#right > #div-four > #emi > ul {
  list-style-position: inside;
  color: rgb(89, 89, 89);
}

#right > #div-five {
  margin-top: 15px;
  padding-bottom: 25px;
  border-bottom: 1px solid rgb(185, 185, 185);
}

#right > #div-five > div > h3 {
  font-size: 16px;
  padding-top: 10px;
}

#right > #div-five > #specifications > #details {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#right > #div-five > #specifications > #details > #left,
#right {
  width: 46%;
}

#right > #div-five > #specifications > #details > #left > div > span {
  font-size: 13px;
  color: rgb(72, 72, 72);
}

#right > #div-five > #specifications > #details > #left > div {
  padding: 5px 0;
  border-bottom: 1px solid rgb(197, 197, 197);
}

#right > #div-five > #specifications > #details > #right > div {
  padding: 5px 0;
  border-bottom: 1px solid rgb(197, 197, 197);
}

#right > #div-five > #specifications > #details > #right > div > span {
  font-size: 13px;
  color: rgb(72, 72, 72);
}

#right > #div-five > h5 {
  padding-top: 12px;
}

#right > #div-six {
  margin-top: 15px;
  padding-bottom: 25px;
  border-bottom: 1px solid rgb(185, 185, 185);
}

#right > #div-six > #rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 17%;
  font-size: 13px;
  margin-bottom: 20px;
}

#right > #div-six > #whole-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#right > #div-six > #whole-rating > #left {
  height: 110px;
  width: 35%;
  border-right: 1px solid grey;
}

#right > #div-six > #whole-rating > #right {
  width: 40%;
  margin-right: 80px;
}

#right > #div-six > #whole-rating > #right > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#right > #div-six > #whole-rating > #right > div > b {
  color: grey;
}

#right > #div-six > #whole-rating > #right > div > i {
  font-size: 10px;
}

#right > #div-six > #whole-rating > #right > div > .bar {
  height: 5px;
  width: 60%;
  background-color: green;
}

#right > #div-six > #customers {
  border-bottom: 1px solid grey;
}

#right > #div-six > #customers > #customer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  margin-top: 15px;
}

#right > #div-six > #customers > #customer > h3 {
  font-size: 15px;
}

#right > #div-six > #customers > #measurement > div {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid black; */
}

#right > #div-six > #customers > #measurement > div > div {
  width: 180px;
  padding: 4px 0;
}

#right > #div-six > #customers > #measurement > div > div > .bar {
  height: 5px;
  width: 80%;
  margin: 5px 0;
  background-color: green;
}

#right > #div-six > #customers > h5 {
  padding: 15px 0 20px 0;
}

#right > #div-seven {
  margin-top: 15px;
  border-bottom: 1px solid rgb(183, 183, 183);
}

#right > #div-seven > .reviews {
  margin: 10px 0 20px 0;
  padding-bottom: 15px;
  border-bottom: 1px solid rgb(197, 197, 197);
}

#right > #div-seven > .reviews > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#right > #div-seven > .reviews > span {
  display: flex;
}

#right > #div-seven > .reviews > div > .left,
.right {
  font-size: 14px;
  color: rgb(108, 108, 108);
}

#right > #div-seven > .reviews > div > .left {
  display: flex;
}

#right > #div-seven > .reviews > div > .left > p,
span {
  padding: 5px 10px;
}

#right > #div-seven > .reviews > div > .left > p {
  border-right: 1px solid grey;
}

#right > #div-eight > h4,
p,
h5 {
  padding: 8px 0;
}

/*--------------------RESPONSIVE------------------*/

@media screen and (max-width: 1310px) {
  #product-path {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #product-path > p {
    padding: 0 10px;
    text-align: center;
  }

  #body > #left {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #body > #left > div {
    height: 510px;
    width: 400px;
  }

  #body > #right {
    width: 45%;
    margin-top: 25px;
  }

  @media screen and (max-width: 1195px) {
    #body > #right {
      width: 55%;
    }
  }

  @media screen and (max-width: 1075px) {
    #body > #right {
      width: 65%;
    }
  }
  @media screen and (max-width: 1000px) {
    #body > #right {
      width: 75%;
    }
  }
  @media screen and (max-width: 930px) {
    #body > #right {
      width: 75%;
    }

    #body {
      flex-direction: column;
      align-items: center;
    }

    #body > #right {
      width: 90%;
    }

    #right > #div-two > #add-to-cart {
      width: 90%;
      margin: auto;
      padding-top: 35px;
    }
  }

  @media screen and (max-width: 570px) {
    #right > #div-one {
      display: flex;
      align-items: center;
      flex-direction: column;
      /* border: 1px solid black; */
    }

    #right > #div-one > p {
      padding: 0 10px;
      text-align: center;
    }

    #right > #div-two > #price > #size-chart {
      width: 85%;
      margin: auto;
      padding-top: 20px;
    }

    #right > #div-two > #price > #main-price {
      margin: auto;
      width: 85%;
      /* border: 1px solid black; */
    }

    #right > #div-two > #price {
      text-align: center;
    }

    #right > #div-two > #price > #size {
      margin: auto;
      padding-top: 25px;
    }

    #right > #div-two > #add-to-cart {
      flex-direction: column;
      align-items: center;
    }

    #right > #div-two > #add-to-cart > button {
      margin: 5px 0;
    }

    #right > #div-two > #add-to-cart > button:nth-child(2) {
      width: 250px;
    }

    #right > #div-three {
      text-align: center;
    }

    #right > #div-three > #pincode {
      padding: 0 10px;
    }

    #right > #div-three > #delivery {
      width: 45%;
      margin: auto;
      padding-bottom: 25px;
      /* border: 1px solid black; */
    }

    #right > #div-three > #pincode > #pincode-input {
      margin: auto;
    }

    #right > #div-four {
      text-align: center;
      /* height: 480px; */
    }

    #right > #div-four > h4 {
      margin: 55px 0 25px 0;
    }

    #right > #div-four {
      padding-left: 15px;
      padding-right: 15px;
    }

    #right > #div-four > #best-price > ul > li {
      padding: 5px 0px 5px 0px;
    }

    #right > #div-four > #cred {
      padding-top: 50px;
    }

    #right > #div-four > #cred > ul > li {
      padding: 10px 0;
    }

    #right > #div-four > #emi {
      padding-top: 50px;
    }

    #right > #div-four > #emi > ul > li {
      padding: 10px 0;
    }

    #right > #div-six {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    #right > #div-six > #whole-rating {
      width: 95%;
    }

    #right > #div-six > #whole-rating > #left {
      height: 110px;
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-right: 1px solid grey;
      /* border: 1px solid black; */
    }

    #right > #div-six > #whole-rating > #right {
      width: 50%;
      padding-left: 15px;
      margin: 0;
      /* border: 1px solid black; */
    }

    #right > #div-six > #customers {
      width: 85%;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* border: 1px solid black; */
    }

    #right > #div-six > #customers > #customer {
      width: 55%;
      padding: 10px 0;
    }

    #right > #div-six > #customers > #customer > h3 {
      font-size: 15px;
    }

    #right > #div-six > #customers > #measurement > div {
      width: 90%;
      margin: auto;
    }

    #right > #div-seven {
      text-align: center;
    }

    #right > #div-seven > .reviews > div {
      flex-direction: column;
    }

    #right > #div-eight {
      text-align: center;
    }
  }

  @media screen and (max-width: 520px) {
    #right > #div-four > #cred {
      padding-top: 90px;
    }

    #right > #div-four > #emi {
      padding-top: 100px;
    }

    #right > #div-four {
      padding-bottom: 75px;
      /* border: 1px solid black; */
    }
  }

  @media screen and (max-width: 500px) {
    #right > #div-six > #customers > #customer {
      width: 65%;
    }

    #body > #left > div {
      height: 420px;
      width: 350px;
    }
  }

  @media screen and (max-width: 400px) {
    #body > #left > div {
      height: 350px;
      width: 350px;
    }
  }
}
